---
import { MainLayout } from '@/components/MainLayout';
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>ADB-Kit</title>
    <style is:global>
      body, html {
        margin: 0;
        padding: 0;
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
      }
    </style>
  </head>
  <body>
    <MainLayout client:load />
  </body>
</html>
